/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: none;
  --title-color: #ffc2e6;
  --background-color: #ff8dcb;
  --text-color: #353430;
  --background-color-page: #fff1f7;
  --button-color: #353430;
  --par-color: #353430;
  --par-main-color: #353430;
  --subtitles-color: #353430;
  --title-main-color: #353430;
  --label-color: transparent;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: none;
    --title-color: #ffc2e6;
    --background-color: #ff8dcb;
    --text-color: #f1b2ce;
    --background-color-page: #fff1f7;
    --button-color: #353430;
    --par-main-color: #353430;
    --subtitles-color: #353430;
    --title-main-color: #353430;
    --label-color: transparent;
  }
  /* Остальные стили, только при необходимости */
}
