:root {
  --bg-image: url('../images/cover-image-dark.png');
  --title-color: #DB00FF;
  --background-color: #FF0070;
  --button-color: #FF0070;
  --text-color: #F1B2CE;
  --subtitles-color: #000028;
  --background-color-page: #000028;
}