/* Светлая тема по умолчанию */
:root {
  --bg-image: none;
  --title-color: #FFC2E6;
  --background-color: #FF8DCB;
  --text-color: #353430;
  --background-color-page: #FFF1F7;
  --button-color: #353430;
  --par-color: #353430;
  --par-main-color: #353430;
  --subtitles-color: #353430;
  --title-main-color: #353430;
  --label-color: #FF0070; /* REC по умолчанию скрыт в светлой теме */
  --rec-display: none;
}